html {
  background: #ffffff;
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
}

a {
  position: fixed;
  bottom: 1em;
  left: 1em;
  color: #186279;
  font-size: 60%;
}

#words {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  overflow: hidden;
  line-height: 1.5em;
  font-weight: normal;
  color: #596aa1;
  text-align: center;
  display: block;
  white-space: pre;
}

#debug {
  position: fixed;
  top: 0;
  left: 0;
  font-weight: normal;
  color: #fbf4e1;
  display: block;
  white-space: pre;
}

img,
canvas {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  display: none;
}
