.footer {
    text-align: center;
    padding: 20px 0;
    background: #111;
    color: #fff;
}

.footer h4,
.footer h5,
.footer p {
    margin: 0.5em 0;
}

.footer a {
    padding: 0 5px;
    color: #48c;
}
