.header {
    padding: 2em 0;
    margin-bottom: 2em;
    background: #fafafa;
    border-bottom: 1px solid #ddd;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header h1,
.header h2,
.header p {
    margin: 0.125em 0;

    .page-home & {
        margin: 0.25em 0;
    }
}

.header p,
.header h2 {
    font-weight: 100;
}

.header h1 a {
    color: #222;
}

.header a {
    text-decoration: none;
}

.page-home .header {
    min-height: 65%;
}

.header p a {
    display: inline-block;
    padding: 0 0.3em;
}

.header svg {
    display: inline-block;
    width: 24px;
    height: 50px;
}

.icon-twitter {
    fill: #55acee;
}

.icon-instagram {
    fill: #3f729b;
}

.icon-github {
    fill: #333;
}

.icon-dribbble {
    fill: #ea4c89;
}

