<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | by Tim Wood</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300'>
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body class="{{ page.body_class }}">
        <div class="site">
            <div class="header">
                <h1><a href="/">{{ site.name }}</a></h1>
                <p>
                    <a href="http://github.com/timrwood">
                        <svg class="icon icon-github" viewBox="0 0 32 32">
                            <path class="path1" d="M16 0a16 16 0 1 0 0 32 16 16 0 0 0 0-32zm9.5 25.5a13.4 13.4 0 0 1-5.5 3.3v-2.4c0-1.2-.4-2.1-1.3-2.7a13.9 13.9 0 0 0 3-.7l1.3-.6c.4-.2.8-.6 1.1-1l1-1.3c.3-.5.4-1 .6-1.8s.2-1.4.2-2.3c0-1.6-.5-3-1.6-4 .5-1.3.4-2.7-.2-4.2h-.3c-.3 0-.8 0-1.5.3s-1.5.7-2.4 1.3a14.4 14.4 0 0 0-7.7 0A13.4 13.4 0 0 0 9.5 8 4 4 0 0 0 8 7.8H8a5.5 5.5 0 0 0-.2 4.1A5.8 5.8 0 0 0 6.3 16c0 .9 0 1.6.2 2.3l.6 1.8c.3.5.5 1 .9 1.3l1.2 1c.4.2.8.5 1.3.6l1.5.4 1.4.3c-.8.5-1.2 1.5-1.2 2.7V29a13 13 0 0 1-5.7-3.4 13.4 13.4 0 0 1 9.5-23A13.4 13.4 0 0 1 29.4 16a13.4 13.4 0 0 1-3.9 9.5z"/>
                        </svg>
                    </a>
                    <a href="http://dribbble.com/timrwood">
                        <svg class="icon icon-dribbble" viewBox="0 0 32 32">
                            <path d="M16 32a16 16 0 1 1 0-32 16 16 0 0 1 0 32zm13.5-13.8a20 20 0 0 0-8.5-.6c1.8 5 2.5 9 2.6 9.8 3.1-2.1 5.3-5.4 5.9-9.2zm-8.2 10.4c-.2-1.2-1-5.4-2.9-10.4-7.8 2.8-10.5 8.1-10.8 8.6a13.6 13.6 0 0 0 13.7 1.8zM5.8 25.2A21.7 21.7 0 0 1 17.5 16l-1.1-2.3c-6.8 2-13.5 2-14 1.9v.4c0 3.5 1.3 6.7 3.4 9.2zm-3.2-12c.6 0 6.3 0 12.7-1.6-2.3-4-4.8-7.5-5.1-8a13.7 13.7 0 0 0-7.6 9.6zM12.8 2.7c.4.5 2.9 4 5.1 8 4.9-1.8 7-4.6 7.2-4.9a13.6 13.6 0 0 0-12.3-3zm13.8 4.7c-.3.4-2.6 3.3-7.7 5.4a42.5 42.5 0 0 1 1.2 2.7c4.6-.6 9.1.3 9.6.4 0-3.2-1.2-6.2-3.1-8.5z"/>
                        </svg>
                    </a>
                    <a href="http://twitter.com/timtamiam">
                        <svg class="icon icon-twitter" viewBox="0 0 32 32">
                            <path class="path1" d="M32 6c-1.2.6-2.4 1-3.8 1.1a6.6 6.6 0 0 0 3-3.6c-1.4.7-2.8 1.3-4.3 1.6a6.6 6.6 0 0 0-11.1 6A18.6 18.6 0 0 1 2.2 4.2a6.5 6.5 0 0 0 2 8.8c-1 0-2-.4-3-.9v.1c0 3.2 2.3 5.9 5.4 6.5a6.6 6.6 0 0 1-3 0 6.6 6.6 0 0 0 6.1 4.6A13.2 13.2 0 0 1 0 26.1 18.6 18.6 0 0 0 28.7 9.5C30 8.5 31.1 7.4 32 6z"/>
                        </svg>
                    </a>
                    <a href="http://instagram.com/timrwood">
                        <svg class="icon icon-instagram" viewBox="0 0 32 32">
                            <path class="path1" d="M26.7 0H5.3C2.3 0 0 2.4 0 5.3v21.4c0 3 2.4 5.3 5.3 5.3h21.4c3 0 5.3-2.4 5.3-5.3V5.3c0-3-2.4-5.3-5.3-5.3zM10.2 14h11.6a6 6 0 1 1-11.6 0zM28 14v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V14h3.1A9 9 0 1 0 25 14H28zm0-7c0 .6-.5 1-1 1h-2a1 1 0 0 1-1-1V5c0-.6.5-1 1-1h2c.6 0 1 .5 1 1v2z"/>
                        </svg>
                    </a>
                </p>
                <h2>{{ site.description }}</h2>
            </div>

            <div class="content">
                {{ content }}
            </div>
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-10641787-1', 'auto');
                ga('send', 'pageview');
            </script>
        </div>
    </body>
</html>
